.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  backdrop-filter: blur(4px);
}

.loader-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  animation: pulse 1.3s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.global-loader p {
  color: #105890;
  font-size: 20px;
  font-weight: bold;
}
