/* -------------------------------- */
/*            FOOTER                */
/* -------------------------------- */

.custom-footer {
  background: #001529;
  color: #fff;
  text-align: center;
  padding: 25px 50px;
  font-size: 16px;
  border-top: 2px solid rgba(255,255,255,0.12);
}

.custom-footer:hover {
  background: #022040;
  transition: 0.4s ease;
}
